* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Coloring App Styles */
html,
body,
.canvasFrame,
.container {
  min-height: 100% !important;
  height: 100%;
}

.canvasContainer {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 30px;
  font-family: "Mukta";
  overflow: hidden;
  background: #91d1ff;
}

.canvasFrame {
  margin: auto;
  width: 400px;
  height: 600px;
}

#canvas {
  /* margin: 0px;
  padding: 40px; */
  display: flex;
  justify-content: center;
  border: 5px solid #f7d134;

  cursor: pointer;
  width: 400px;
  height: 600px;
}

/* 
.background-image {
  background-image: url("/assets/IMG_3963.JPG");
  background-repeat: no-repeat;
  width: 2000px;
  height: 2000px;
} 
*/

.left-button {
  width: 250px;
  height: 50px;
  margin: 10px;
  background-color: #f7d134;
  color: white;
  border-radius: 5%;
  border: 2px solid #f7d134;
  font-weight: bold;
}

.tools {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.tools .color-section {
  margin-bottom: 10px;
}

.tools .color-field {
  height: 75px;
  width: 75px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  margin: 0px 5px 3px 5px;
}
.tools-controls {
  margin: 15px 0px 15px 0px;
}

.tools .button {
  align-self: center;
  width: 100px;
  height: 40px;
  border: 2px solid #f7d134;
  border-radius: 5%;
  cursor: pointer;
  color: white;
  background: #f7d134;
  font-weight: bold;
  margin: 0 5px;
}

.color-picker {
  align-self: center;
  margin: 20px 0px;
  height: 50px;
  width: 150px;
}

.pen-range {
  align-self: center;
  margin: 0 10px;
}

.modal-title {
  color: #f7d134;
}

.my-btn {
  background-color: #f7d134;
  color: white;
}

.carusel-controller {
  background-color: #f7d134;
}

.carousel-inner img {
  margin: auto;
}

.carousel-size {
  height: 300px;
  width: 300px;
}

/* Home Page */
.navbar {
  background-color: #91d1ff;
}

.nav-link {
  font-size: 20px;
}

.navbar-brand {
  font-size: 24px;
}
#jumbo  {
  background-color: #91d1ff;
  width: 100%;
  height: 100vh;
  color: white;
}

#jumbo h1 {
  padding-top: 300px;
  /* padding-left: 50px; */
  font-size: 100px;
}

#highlightedProduct {
  background-color: #FFE796;
  width: 100%;
  color: #91d1ff ;
  padding: 65px 0px 30px 0px;
}

#highlightedProduct .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#highlightedProduct h3 {
  font-size: 84px;
  padding-bottom: 25px;
}

#highlightedProduct h2 {
  color: white;
  font-size: 100px;
  border: 5px solid white;
  background-color: #91d1ff;
  padding: 5px;

}

#highlightedProduct .right-c{
  display: flex;
  justify-content: center;
  align-items: center;
 padding-left: 250px;
}

#highlightedProduct img {
  height: 500px;
  width: 350px;

}

#topProducts {
  width: 100%;
}

#topProducts h1 { 
  text-align: center;
  color: #91d1ff;
  font-size: 48px;
  padding-top: 15px;
}

#topProducts .products-display  {
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
}

#topProducts .product-bg{
  display: flex;
  justify-content: center;
}

#topProducts .product-bg img{

  height: 400px;
  width: 350px;
}

footer{
  background: #1b1b1b;
  padding: 50px 0;
  overflow: hidden;
}
footer .footer-title{ 
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}


footer .footer-socials{
  display: flex;
  justify-content: center;
}

footer ul{
  padding-left: 0;
}

footer .social-title{ 
  color: #ffff00;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
}

footer .footer-menu .menu-title a{
  color: white; 

}

footer .social-icons {
  display: flex;
}
footer .social-icons li {
  margin-right: 18px;
}

footer .social-icons a{
  display: flex;
  height: 50px; 
  width: 50px;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  transition: all .3 ease-in-out
}

footer .social-icons a:hover{
  color: #ffff00;
  background: black;
}

footer .address{
  color: #9a9b9d;
  text-align: center;
  display: block;
}

/* 
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) 
@media (min-width: 576px) {
  ...;
} */

/* // Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .canvasFrame {
    display: flex;
    justify-content: center;
  }
}
 

/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  ...;
} */

/* // X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...;
} */

/* // XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  ...;
} */
