* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Coloring App Styles */
.not-ready{
  display: none;
}

html,
body,
.canvasFrame,
.container {
  min-height: 100% !important;
  height: 100%;
}
a{
  text-decoration: none;
  color: #91d1ff;
}
.canvasContainer {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 30px;
  font-family: "Mukta";
  overflow: hidden;
  background: #91d1ff;
}

.canvasFrame {
  margin: auto;
  width: 400px;
  height: 600px;
}

#canvasImage{
  width: 400px;
  height: 500px;
  position: relative;
}

#canvasInnerFrame{
  position: relative;
}

#canvas {
  /* margin: 0px;
  padding: 40px; */
  display: flex;
  justify-content: center;
  border: 5px solid #f7d134;

  cursor: pointer;
  width: 400px;
  height: 600px;
}

/* 
.background-image {
  background-image: url("/assets/IMG_3963.JPG");
  background-repeat: no-repeat;
  width: 2000px;
  height: 2000px;
} 
*/

.left-button {
  width: 250px;
  height: 50px;
  margin: 10px;
  background-color: #f7d134;
  color: white;
  border-radius: 5%;
  border: 2px solid #f7d134;
  font-weight: bold;
}

.tools {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.tools .color-section {
  margin-bottom: 10px;
}

.tools .color-field {
  height: 75px;
  width: 75px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  margin: 0px 5px 3px 5px;
}
.tools-controls {
  margin: 15px 0px 15px 0px;
}

.tools .button {
  align-self: center;
  width: 100px;
  height: 40px;
  border: 2px solid #f7d134;
  border-radius: 5%;
  cursor: pointer;
  color: white;
  background: #f7d134;
  font-weight: bold;
  margin: 0 5px;
}

.color-picker {
  align-self: center;
  margin: 20px 0px;
  height: 50px;
  width: 150px;
}

.pen-range {
  align-self: center;
  margin: 0 10px;
}

.modal-title {
  color: #f7d134;
}

.my-btn {
  background-color: #f7d134;
  color: white;
}

.carusel-controller {
  background-color: #f7d134;
}

.carousel-inner img {
  margin: auto;
}

.carousel-size {
  height: 300px;
  width: 300px;
}

.modal-footer {
  justify-content: space-between;
}


/*//////////////////////////////////////////////////////////////////////////
                   Home Page 
//////////////////////////////////////////////////////////////////////////*/

h1{ 
  font-size: 64px;
}

.button-container{
  width: 300px;
}

.home-btn{
  border: 1px solid #707070;
  color: #91d1ff;
  background-color:#fff;
  padding: 15px 30px;
  font-size: 25px;
}

.home-btn:hover{
  color: #fff;
  background-color: #91d1ff;
}

.navbar {
  background-color: #91d1ff;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 20px;
  color: #FFF;
}

.navbar-dark .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.navbar-brand {
  font-size: 24px;
}

#jumbo  {
  background-color: #91d1ff;
  width: 100%;
  height: 100vh;
  color: white;
}

#jumbo h1 {
  padding-top: 300px;
  /* padding-left: 50px; */
  font-size: 100px;
}





#highlightedProduct {
  background-color: #FFF;
  width: 100%;
  color: #91d1ff ;
  padding: 65px 0px 30px 0px;
}

#highlightedProduct .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#highlightedProduct h3 {
  font-size: 84px;
  padding-bottom: 25px;
}

#highlightedProduct h2 {
  color: white;
  font-size: 100px;
  border: 5px solid white;
  background-color: #91d1ff;
  padding: 5px;

}

#highlightedProduct .right-c{
  display: flex;
  justify-content: center;
  align-items: center;

}

#highlightedProduct img {
  height: 500px;
  width: 350px;

}

.coloring-book-promo{
  width: 100%;
  background-color: #FFE796;
  color: #91d1ff;
  padding: 100px 350px;
}

.coloring-book-promo .title{
  display: flex;
  justify-content: center;
  align-items: center;

}

.coloring-book-promo .title h1{
  width: 600px;
  text-align: center;
}

.coloring-book-promo .color-app-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.coloring-book-promo img{
  width: 600px;
  padding: 50px 0;
}

.coloring-book-promo .btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


#topProducts {
  width: 100%;
}

#topProducts h1 { 
  text-align: center;
  color: #91d1ff;
  font-size: 48px;
  padding-top: 15px;
}

#topProducts .products-display  {
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
}

#topProducts .product-bg{
  display: flex;
  justify-content: center;
}

#topProducts .product-bg img{
  height: 400px;
  width: 350px;
}

#topProducts .product{
  background-image: url("./assets/gf-tshirt-front.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 350px;
}

#topProducts .product:hover{
  background-image: url("./assets/gf-tshirt-back.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 350px;
}

#topProducts a{
  text-decoration: none;
  color: black;
  font-size: 24px;
}

#topProducts {
  font-size: 20px;
}

#topProducts .product-img{
  display:flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.about {
  width: 100%;
  background-color: #FFE796;
  color: #91d1ff;
  padding: 100px 350px;
}


.about .row {
  display: flex;
  justify-content: center;
  flex-direction: row; 
}

.about .row .left-col{
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;
}

.about .profile-pic img{
  height: 400px;
  width: 450px;
}

.about .title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .text{
  font-size: 24px;
}

.about .btn-container{
  margin-top: 25px;
}


.contact{
  padding: 75px 350px;
  color: #91d1ff;
}

.contact a{
  text-decoration: none;
  color: #91d1ff;
}

.contact .row{
  padding: 25px 0;
}

.contact .title{
  display: flex;
  justify-content: center;
  align-items: center;
} 

.contact .text{
  display: flex;
  justify-content: center;
  align-items: center;
} 

footer{
  background: #91d1ff;
  padding: 50px 0;
  overflow: hidden;
}
footer .footer-title{ 
  display: flex;
  justify-content: center;
}


footer .title{ 
  color: #FFF;
}

@media (min-width: 0px) and (max-width: 373px) {
  /* ////////////////COLORING APP/////////////// */

 #coloringApp{
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.not-ready{
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #91d1ff;
  z-index: 5;
}

.not-ready .btn-container{
  display: flex;
  justify-content: center;
}
#canvasImage{
  width: 0;
  height: 0;
};

.canvasContainer{
  padding: 0;
}


/* ////////////////////HOMEPAGE//////////////// */
  h1{
    font-size: 44px;
  }
  
  .home-btn{
    border: 1px solid #707070;
    color: #91d1ff;
    background-color:#fff;
    padding: 10px 20px;
    font-size: 15px;
  }
 
 
  #jumbo h1 {
    padding-top: 300px;
    /* padding-left: 50px; */
    font-size: 50px;
  }

  #highlightedProduct h3 {
    font-size: 44px;
    padding-bottom: 25px;
    text-align: center;
  }

  #highlightedProduct .btn-container{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }

  .coloring-book-promo {
    padding: 65px 0px;
}

  .coloring-book-promo .title h1{
    width: 300px;
    text-align: center;
  }

  .coloring-book-promo img{
    display: none;
  }

  #topProducts .product{
    background-image: url("./assets/gf-tshirt-front.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 250px;
  }
  
  #topProducts .product:hover{
    background-image: url("./assets/gf-tshirt-back.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 250px;
  }

  .about {
    padding: 65px 0px;
  }

  .about .profile-pic{
    display: flex;
    justify-content: center;
  }

  .about .profile-pic img{
    height: 200px;
    width: 250px;
  }

  .contact{
    padding: 75px 0;
  }


}

@media (min-width: 374px) and (max-width: 767px) {
/* ////////////////COLORING APP/////////////// */

 #coloringApp{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
  }
  
  .not-ready{
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #91d1ff;;
    z-index: 5;
  }
  
  .not-ready .btn-container{
    display: flex;
    justify-content: center;
  }
  #canvasImage{
    width: 0;
    height: 0;
  };

  .canvasContainer{
    padding: 0;
  }


/* ////////////////////HOMEPAGE//////////////// */
  h1{
    font-size: 44px;
  }
  
  .home-btn{
    border: 1px solid #707070;
    color: #91d1ff;
    background-color:#fff;
    padding: 10px 20px;
    font-size: 15px;
  }
 
 
  #jumbo h1 {
    padding-top: 300px;
    /* padding-left: 50px; */
    font-size: 50px;
  }

  #highlightedProduct h3 {
    font-size: 44px;
    padding-bottom: 25px;
    text-align: center;
  }

  #highlightedProduct .btn-container{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }

  .coloring-book-promo {
    padding: 65px 0px;
}

  .coloring-book-promo .title h1{
    width: 300px;
    text-align: center;
  }

  .coloring-book-promo img{
    display: none;
  }

  #topProducts .product{
    background-image: url("./assets/gf-tshirt-front.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 350px;
  }
  
  #topProducts .product:hover{
    background-image: url("./assets/gf-tshirt-back.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 350px;
  }

  .about {
    padding: 65px 0px;
  }

  .about .profile-pic{
    display: flex;
    justify-content: center;
  }

  .about .profile-pic img{
    height: 200px;
    width: 250px;
  }

  .contact{
    padding: 75px 0;
  }

}

@media (min-width: 768px) and (max-width: 1300px) {

  /* ////////////////COLORING APP/////////////// */

 #coloringApp{
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.not-ready{
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #91d1ff;
  z-index: 5;
}

.not-ready .btn-container{
  display: flex;
  justify-content: center;
}
#canvasImage{
  width: 0;
  height: 0;
};

.canvasContainer{
  padding: 0;
}


/* ////////////////////HOMEPAGE//////////////// */
  #highlightedProduct h3 {
    font-size: 60px;
    padding-bottom: 25px;
    text-align: center;
  }

  #highlightedProduct .btn-container{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }

  .coloring-book-promo {
    width: 100%;
    background-color: #FFE796;
    color: #91d1ff;
    padding: 100px 50px;
}

  .coloring-book-promo .title h1{
    width: 500px;
    text-align: center;
  }

  .about {
    padding: 100px 50px;
  }

  .about .profile-pic{
    display: flex;
    justify-content: center;
  }
}

/* 
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) 
@media (min-width: 576px) {
  ...;
} */

/* // Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .canvasFrame {
    display: flex;
    justify-content: center;
  }
}
 

/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  ...;
} */

/* // X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...;
} */

/* // XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  ...;
} */
