* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvasContainer {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0px;
  padding: 30px;
  font-family: "Mukta";
  overflow: hidden;
  background: #313131;
}

.canvasFrame {
  margin: auto;
  width: 400px;
  height: 600px;
}

#canvas {
  /* margin: 0px;
  padding: 40px; */
  display: flex;
  justify-content: center;
  box-shadow: -3px 2px 9px 6px black;
  cursor: pointer;
}

/* 
.background-image {
  background-image: url("/assets/IMG_3963.JPG");
  background-repeat: no-repeat;
  width: 2000px;
  height: 2000px;
} 
*/

.left-button {
  width: 300px;
  margin: 10px;
}

.tools {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.tools .color-section {
  margin-bottom: 10px;
}

.tools .color-field {
  height: 75px;
  width: 75px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  margin: 0px 5px 3px 5px;
}
.tools-controls {
  margin: 15px 0px 15px 0px;
}

.tools .button {
  align-self: center;
  width: 100px;
  height: 40px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  background: #222;
  font-weight: bold;
  margin: 0 5px;
}

.color-picker {
  align-self: center;
  margin: 20px 0px;
  height: 50px;
}

.pen-range {
  align-self: center;
  margin: 0 10px;
}

.container {
  background-color: #313131;
  max-width: 100vw;
  max-height: 100vh;
  color: white;
}

.carousel-size {
  height: 300px;
  width: 300px;
}
